* {
	transition: all 0.3s;
	box-sizing: border-box;
}

body {
	background: url(img/bg.png) #f5f5f5;
	font-family: 'Bebas Neue', sans-serif;
	color: #8c8c8c;
}

.float-left-50 {
	width: 50%;
	float: left;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}

/*
	============
	HEADER STYLE
	============
*/

.logo {
	margin-top: 40px;
}

.logo .name {
	font-family: Verdana, sans-serif;
	color: #d14343;
	font-size: 12px;
	display: block;
}

.logo .text-logo {
	font-size: 50px;
	text-decoration: underline;
	display: block;
}

.top-nav {
	width: 50%;
	margin-top: 65px;
	float: right;
	text-align: right;
}

.top-nav li {
	font-size: 22px;
	color: #bebebe;
	margin-left: 20px;
	display: inline-block;
}

.top-nav .active {
	color: inherit;
	padding: 0 5px;
	border-bottom: 2px solid;
}

.heading {
	clear: both;
}

h1 {
	text-align: center;
	font-family: 'Myriad Pro Regular', sans-serif;
	font-size: 60px;
	text-shadow: 0 1px 5px #fff;
	padding: 85px 0;
}

h1 span {
	text-transform: uppercase;
	font-weight: 600;
}

/*
	==========
	MAIN STYLE
	==========
*/

h2 {
	color: #d14343;
	font-size: 40px;
	font-weight: 400;
	border-bottom: 4px solid #dfdedc;
	padding: 0 10px;
}

.about-me {
	padding-right: 10px;
	margin-bottom: 85px;
}

.about-me img {
	margin: 20px;
	margin-left: 10px;
	float: left;
	border: 1px solid #c1c1c1;
}

.about-me p {
	margin-top: 16px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 17px;
	overflow: hidden;
}

.skills {
	padding-left: 10px;
	margin-bottom: 85px;
}

h3 {
	font-size: 24px;
}

.skills-wrap {
	margin-left: 10px;
}

.skills-group {
	margin-top: 20px;
}

.skills ul {
	margin-top: 5px;
	margin-right: 10px;
}

.skills li {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

.skills li:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #dc6565;
	border-radius: 50%;
	margin: 0 5px;
	vertical-align: middle;
}

.portfolio {
	clear: both;
	margin-bottom: 70px;
	position: relative;
}

.portfolio-nav {
	position: absolute;
	top: 20px;
	right: 5px;
}

.portfolio-nav li {
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	margin-left: 10px;
}

.portfolio-nav .active {
	color: #dc6565;
	text-transform: uppercase;
}

.work-row {
	padding: 0 10px;
	font-size: 0;
}

.work {
	display: inline-block;
	width: 20.9%; /* 220px */
	margin-top: 20px;
	margin-right: 5.4%; /* 20px = 1.9% */
}

.work:last-child {
	margin-right: 0;
}

.work img {
	box-shadow: 0 10px 6px -6px #777;
	width: 100%;
}

.work-name {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.contact-block {
	padding: 25px 10px 0;
	margin-bottom: 40px;
}

.contact-block label {
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 20px;
}

.contact-block input,
.contact-block textarea {
	width: 95%;
	height: 33px;
	background-color: #e8e8e8;
	padding: 5px;
	outline: none;
	border: 1px solid #f9f8f6;
	border-left-color: #bababa;
	border-top-color: #bababa;
}

.contact-block textarea {
	width: 195%;
	height: 115px;
	resize: none;
}

.contact-block button {
	border: none;
	cursor: pointer;
	width: 100px;
	height: 36px;
	background-color: #dc6565;
	color: #fff;
	font-family: inherit;
	font-size: 24px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.32);
	margin-top: 20px;
}

.contact-block .map {
	width: 240px;
	height: 200px;
	margin-top: 20px;
	border: 1px solid #c1c1c1;
	cursor: pointer;
}

.contact-block iframe {
	width: 238px;
	height: 198px;
}

address {
	margin-top: 20px;
	padding-left: 40px;
}

address h4 {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 17px;
	margin: 10px 0 3px 0;
}

address h4:first-child {
	margin-top: 0;
}

address p {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 17px;
	margin-left: 3px;
}

address a {
	text-transform: none;
	text-decoration: underline;
	color: #dc6565;
}

footer {
	clear: both;
	border-top: 4px solid #dfdedc;
	padding: 10px;
	margin-bottom: 85px;
}

.copyright p {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 17px;
}

.copyright a {
	text-transform: none;
	text-decoration: underline;
	color: #dc6565;
}

.social {
	text-align: right;
}

.social li {
	display: inline-block;
	font-size: 18px;
	margin-left: 15px;
}
