/* *{
    margin: 0;
    padding: 0;
    border: 0;
} */

/* html{
    height: 100%;
    width: 100%;
} */

.popup-container{
	height: 100%;
	width:100%;
	font-family: 'Arial';
	color: #555555;
}

.popup-wrapper{
	width: 100%;
	height: 100%;
	/* background: url(background.jpg) no-repeat top center; */
	position: relative;
  /* overflow: hidden; */
}


/*-------------Модальное окно---------------*/
#modal {
	position:absolute;
    z-index:9999;
    background: #fff;
    top: 50%;
	left: 50%;
	margin-left: -270px;
	margin-top: -190px;
	width: 540px;
	min-height: 340px;
    height: auto;
    border-top: 1px solid #ffffff;
    box-shadow: 0 6px 12px -5px #666666;
}

#modal-finish {
	position:absolute;
    z-index:9999;
    background: #fff;
    top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -100px;
	width: 260px;
	min-height: 200px;
    height: auto;
    border-top: 1px solid #ffffff;
    box-shadow: 0 6px 12px -5px #666666;
	text-align: center;
}

/*-------------затемнение фона---------------*/
#modal:before,
#modal-finish:before{
    content:'';
    position:absolute;
    top:-9999px;
    left:-9999px;
    right:-9999px;
    bottom:-9999px;
    z-index:-1;
    background:rgba(0, 0, 0, .3);
}
#modal:after,
#modal-finish:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
    z-index:-1;
}


.modal-header{
	height: 48px;
	background: #6cbfce;
	color: #fff;
	font-size: 20px;
	line-height: 48px;
}

.modal-title{
	margin-left: 20px;
    padding-left: 40px;
    background: url(ok2.png) left no-repeat;
}


.modal-title .count{
    text-decoration: underline;
}


.modal-title .sum{
    font-weight: bold;
}


.modal-body{
	padding: 20px;
    position: relative;
}

.image-preview{
	float: left;
}

.modal-body .name{
	margin-left: 183px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}

.modal-body .name p{
	line-height: 1.5;
	padding: 5px 10px;
}

.modal-body .description{
	margin-left: 183px;
	font-size: 14px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.modal-body .description p{
	line-height: 1.5;
	padding-left: 20px;
}


/*---------------------------------------
   Стили связанные с 'form-group'
   были взяты с самого сайта
-----------------------------------------*/


.modal--body .form-group label {
    color: #777777;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    margin: 3px 0px 0 0;
    float: left;
}

.modal-body .form-group{
	margin-left:193px;
}

.modal-body .form-group #input-quantity {
    background: #f1f1f1 !important;
    border: 1px solid #f1f1f1;
    color: #2f2f2f;
    display: inline-block;
    font-size: 15px;
    height: 30px;
    margin: 0 8px;
    padding: 0 10px;
    border-radius: 10px;
    text-align: left;
    width: 55px !important;
    box-shadow: none;
    outline: none;
}

.modal-body .creator{
	color:#6cbfce;
}

.modal-footer{
	padding: 10px 20px 20px;
    background: #f1f1f1;
    font-weight: bold;
}

.modal-footer .sub-title{
    font-size: 12px;   
    font-weight: normal;
    line-height: 2;
    padding-bottom: 10px;

}

.modal-footer input{
    height: 36px;
    width: 200px;
    border: 1px solid #bbbbbb;
    padding: 5px 10px;  
    font-size: 16px; 
    margin-right: 10px;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 10px;
}

.modal-footer .wait-call{
    background: #6cbfce;
}

.back-site{
    position: absolute;
    bottom: 12px;
    text-align: right;

}
.back-site p:first-child{
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.5;
    color: #555555;
    cursor: pointer;
}

.back-site p:last-child{
    font-size: 11px;
  
}

/*---------------------------------------
   Стили связанные с кнопками btn
   были взяты с самого сайта
-----------------------------------------*/

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}


.btn, button {
    outline: none;
    background: #f47979;
    border: 0 none;
    font-size: 20px;
    line-height: 14px;
    padding: 10px 13px;
    text-transform: none;
    color: #f1f1f1;
    font-family: 'Arial';
    border-radius: 10px;
    text-shadow: none;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #333;
    background-position: 0 -15px;
}

.btn:hover, button:hover {
    background: #666666;
    color: #fff;

}

.price {
    color: #6cbfce;
    font-family: Arial;
    font-size: 22px;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin: 5px 0 5px;
}

.price .price-first{
    text-decoration: line-through;
    color: #555555;
    font-size: 16px;
}

a:hover, #top #currency .currency-select:hover, .item-inner:hover, .item-inner .button-group .cart button:hover span, .item-inner .add-to-links .wishlist button:hover, .item-inner .add-to-links .compare button:hover, .product-list .product-container:hover, .header .header-search:hover #search input, .product-list .add-to-links .wishlist button:hover, .product-list .add-to-links .compare button:hover, .product-view #product .add-to-links .compare button:hover, .product-view #product .add-to-links .wishlist button:hover, .item-inner .button-group .cart button:hover, .product-view .form-group #button-cart:hover, .btn:hover {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#modal .modal-close {
    line-height: 15px;
    float: right;
    cursor: pointer;
    background: none;
}

#modal .modal-close:hover {
	color: #555;
    background: none;
}


#modal-finish .modal-close {
    line-height: 15px;
    float: right;
    cursor: pointer;
    background: none;
	color: #aeaeae;
}

#modal-finish .modal-close:hover {
	color: #555;
    background: none;
}

.modal-middle{
	clear: fix;
	margin-top: 35px; 
	line-height: 1.2;
}

.modal-middle svg{
	padding-bottom:10px;
}